<div class="bg-dark" id="contact">
  <div class="my-4">
    <div class="container contact-container">
      <div class="row">
        <div class="col-md-6 contact-info">
          <div class="px-3">
            <img src="/assets/images/logo.svg" class="mb-5">
            <h1 class="text-white">¡Platiquemos!</h1>
            <p class="text-white">Si quieres conocer mas de mi trabajo o tienes un proyecto que necesite de buen diseño, escribeme o ponte en contacto conmigo!.</p>
            <ul class="fa-ul pt-3 mt-3">
              <li class="pb-2">
                <a class="text-light" target="_blank" href="https://tinyurl.com/y8popgct">
                  <span class="fa-li text-primary"><i class="fas fa-map-marker"></i></span>Prolongación Uxmal 1009Bis, Santa Cruz Atoyac, CDMX.
                </a>
              </li>
              <li class="pb-2">
                <a class="text-light" href="callto:526563590406">
                  <span class="fa-li text-primary"><i class="fas fa-phone"></i></span>
                  (55) 8233 2196
                </a>
              </li>
              <li class="pb-2">
                <p>
                  <a class="text-light" href="mailto:contact@berbli.com">
                    <span class="fa-li text-primary"><i class="fas fa-envelope-open"></i></span>
                    saidgdiaz@gmail.com
                  </a>
                </p>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-6 card p-5">
          <form action="https://formspree.io/saidgdiaz@gmail.com"
                method="POST">
              <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Nombre">
              </div>
              <div class="form-group">
                <input type="email" name="_replyto" class="form-control" placeholder="Correo electrónico ">
              </div>
              <div class="form-group">
                <input type="text" name="phone" class="form-control" placeholder="Teléfono">
              </div>
              <div class="form-group mb-4">
                <textarea name="mensaje" rows="5" class="form-control" placeholder="Mensaje"></textarea>
              </div>
              <input type="submit" value="ENVIAR" class="btn btn-outline-primary btn-sm">
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
