<div class="hero text-primary">
  <div class="container">
    <nav class="navbar navbar-expand-md py-4 mb-5">
      <a class="navbar-brand" href="/"><img src="assets/images/logo.svg" alt="Sr-Shadid"></a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#portafolio" class="nav-link text-primary">Portafolio<span class="text-primary">.</span></a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link text-primary">Contacto<span class="text-primary">.</span></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="row justify-content-start">
      <div class="col-sm-8 col-md-6 my-md-3">
        <h1>Hola, Soy Said Díaz.</h1>
        <p class="lead mt-3">A.K.A <span class="font-weight-bold">Sr Shadid, </span>Diseñador Gráfico que vive en <span class="font-weight-bold">CDMX.</span> con 5 años de experiencia, mi especialidad es el diseño web, branding e ilustración vectorial.</p>
        <p>
          <a class="text-primary mr-2" href="#">
            <i class="fab fa-dribbble"></i>
          </a>
          <a class="text-primary" href="#">
            <i class="fab fa-behance"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
