
// Reset

body {
  background: url('images/body-bg.png');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, label {
  font-weight: 900;
  letter-spacing: -.1rem;
}

.fa-ul {
  margin-left: 2.3rem;
  .fa-li {
    margin-top: 7px;
  }
  a {
    padding-left: 1rem;
  }
}
.nav-link {
  padding: .5rem 2rem!important;
  font-size: 1rem;
}
.btn {
  border-radius: 0;
  padding: 1rem 1.5rem;
  font-size: 1rem;
}
h6 {
  display: inline-block;
  letter-spacing: 0rem;
}
.lead {
  font-size: 1.1rem;
}

// Styles

.hero {
  position: relative;
  z-index: 1;
}
.mission {
  margin-top: -7rem;
  position: relative;
  z-index: 2;
}
.pleca {
  width: 50%;
  border-bottom: 3px solid $primary-color;
  padding-bottom: 1rem;
}
#portafolio {
  .card {
    border: 0;
    box-shadow: 0 5px 30px rgba(0,0,0,.1);
    border-radius: 0;
  }
}

#contact {
  padding-top: 6rem;
  margin-top: 6rem;
  padding-bottom: 6rem;
}

.contact-container {
  position: relative;
  .gradient-shadow-footer {
    position: absolute;
    right: -40px;
    top: -97px;
  }
}
.footer-detail {
  position: absolute;
  bottom: 0;
  right: 0;
}
.form-control {
  border: 0;
  border-bottom: 1px solid $primary-color;
  border-radius: 0;
  color: white!important;
  padding: 1rem;
  font-weight: 500;
  font-size: 1rem;
  &:focus {
    border-color: $warning-color;
  }
}

// Mobile

@include media-breakpoint-down(sm) {
  .contact-info {
    margin-top: 2rem;
  }
  #portafolio .sect-img {
    margin-top: 0!important;
    position: relative!important;
    max-width: none!important;
    flex: 1!important;
  }
  #portafolio .row:not(.justify-content-end) {
    .col-sm-6:first-child {
      order: 2;
    }
    .col-sm-6:last-child {
      order: 1;
    }
    .card {
      padding: 2rem;
    }
  }
  .customer-b, .containment-b {
    display: none!important;
  }
}

// Tablets
@include media-breakpoint-between(sm, md) {

  .container {
    width: 95%;
    max-width: none;
  }
  #portafolio .card {
    padding: 2rem;
  }

}

